# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
ENV/

# IDE相关
.idea/
.vscode/
*.swp
*.swo

# 操作系统相关
.DS_Store
Thumbs.db

# 项目相关
enhanced_screenshots/
enhanced_single/
case_screenshots/
screenshot_downloader_username.py
*.log
